# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
ffmpeg=4.3.1=h3215721_1
museval==0.4.0
numpy=1.18.5=pypi_0
pysocks=1.7.1=py37he5f6b98_2
pysoundfile=0.10.2=py_1001
python=3.7.10=h12debd9_4
pytorch=1.9.0=py3.7_cuda10.2_cudnn7.6.5_0
resampy=0.2.2=py_0
scikit-learn=0.23.2=py37h0573a6f_0
scipy=1.4.1=pypi_0
setuptools=52.0.0=py37h06a4308_0
torchaudio=0.9.0=py37
torchvision=0.10.0=py37_cu102
